.about {

}

.about__content {
	@include breakpoint(40em) {
		@include span(7 of 12);
	}

	@include breakpoint(60em) {
		width: span(5 of 12);
	}
}

.about__currently {
	@include breakpoint(40em) {
		@include span(4 of 12 omega);
		@include push(1 of 12);

		.link-widget {
			margin: 0;
		}
	}

	@include breakpoint(60em) {
		@include span(3 of 12);
	}
}

.about__image {
	@include full();
	margin-bottom: 1.5rem;

	@include breakpoint(60em) {
		@include span(3 of 12 omega);
	}
}


