.banner {
	height: 100vh;
	padding: 2rem;
}

.banner--dashboard {
	background-image: url('../../../img/dashboard/dashboard-ipad.png');
	background-size: cover;
	background-repeat: no-repeat;

	@include breakpoint(40em) {
		background-image: url('../../../img/dashboard/dashboard-ipad.png');
		background-size: 68%;
		background-position: center 60%;
	}
}

.banner__inner {
	
}
