.chunk {

	&.whiteout {
		a {
			text-decoration: underline;
		}
	}

}

.chunk--swap {
	@include breakpoint(60em) {
		.chunk__inner {
			flex-direction: row-reverse;
		}
	}
}

.chunk--single {
	text-align: center;

	.chunk__inner {
		justify-content: space-around;
		flex-direction: column;
	}

	.chunk__secondary {
		width: 100%;
	}
}

.chunk__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	max-width: 100rem;
	margin: 0 auto;
}

.chunk__primary,
.chunk__secondary {
	width: 100%;
}

.chunk__primary {
	padding: 4rem 0;

	@include breakpoint(60em) {
		max-width: 50rem;
		width: span(5.5 of 12);
	}

	@include breakpoint(80rem) {
		padding: 6rem 0;
	}
}

.chunk__secondary {
	padding-bottom: 4rem;

	@include breakpoint(60em) {
		max-width: none;
		width: span(5.5 of 12);
		padding: 4rem 0;
	}
}
