.chunk {
	padding: 2rem 0;

	@include breakpoint(40rem) {
		padding: 4rem 0;
	}

	@include breakpoint(80rem) {
		padding: 6rem 0;
	}
}

.chunk--swap {
	.chunk__inner {
		flex-direction: row-reverse;
	}
}

.chunk--single {
	.chunk__inner {
		justify-content: space-around;
	}
}

.chunk__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	max-width: 120rem;
	margin: 0 auto;
}

.chunk__primary {
	max-width: 36rem;

	@include breakpoint(60em) {
		width: span(5.5 of 12);
	}
}

.chunk__secondary {
	@include breakpoint(60em) {
		width: span(5.5 of 12);
	}
}
