$ov-red: #9d0e12;
$ov-black: #4d4d4d;
$ov-grey: #f8f8f8;

.dashboard__header {
	background-color: $ov-red;

	> .l-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include breakpoint(60em) {
			flex-direction: row-reverse;
		}

	}
}

.dashboard__header__image {
	width: 100%;
	align-self: flex-end;

	@include breakpoint(60em) {
		width: span(6 of 12);
	}
}

.dashboard__intro {
	padding-bottom: 2rem;

	@include breakpoint(40em) {
		width: span(6 of 12);
	}
}

.dashboard__process {
	background: #f9f9f9;
	overflow: hidden;
	position: relative;
	font-size: .7rem;
}

.dashboard__process__inner {
	white-space: nowrap;
	padding: 1rem;
	top: 0;
	right: 0;
	min-width: 100%;
	position: absolute;

	@include breakpoint(50em) {
		right: auto;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
}

.dashboard__height {
	visibility: hidden;
	padding: 1rem;
}

.dashboard__figure {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 0;
	margin-right: 0;

	svg {
		height: 2rem;
		width: auto;
		margin-bottom: .6rem;
	}

}

.dashboard__connector {
	margin: 0 1rem;
	flex-grow: 1;
}

.dashboard__connector__label {
	padding: 0 1rem;
	text-align: center;
}

.dashboard__connector__line {
	position: relative;
	background: $black;
	height: .2rem;
	margin-top: .5rem;
	width: 0;
}

.dashboard__connector__pulse {
	position: absolute;
	top: -100%;
	left: 0;
	opacity: 0;

	span {
		display: block;
		position: relative;

		&,
		&:before {
			border-radius: 50%;
			background: #22b573;
			width: .7rem;
			height: .7rem;
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			animation: pulse .5s infinite;
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	50% {
		transform: scale(1.5);
		opacity: .4;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.dashboard__figure,
.dashboard__connector {
	opacity: 0;
	display: inline-block;
	vertical-align: middle;

	&:first-of-type {
		position: relative;
	}
}

.dashboard__problems {
	background-color: $ov-grey;
	background-image: url('../../../img/dashboard/network.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: left center;
}

.dashboard__site-scroll,
.dashboard__site-scroll__inner {
	height: 20rem;
}

.dashboard__site-scroll {
	background: $ov-red;
	overflow: hidden;
	position: relative;
}

.dashboard__site-scroll__inner {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 1rem;

	img {
		display: block;
		margin: 0 auto;
		width: 40rem;
		border-top: 2rem solid $ov-red;
		border-bottom: 2rem solid $ov-red;

		@include breakpoint(60rem) {
			width: 50rem;
		}
	}
}

.dashboard__groundwork {
	overflow: hidden;

	> .l-container {
		display: flex;
	}
}

.dashboard__groundwork__logo {
	svg {
		@include breakpoint(60rem) {
			float: right;
		}

		.js & {
			path {
				opacity: 0;
				stroke: #00d8ff;
				fill: #fff;
			}

		}
	}
}

.dashboard__deployment {
	background: $ov-grey;
}

.dashboard__terminal {
	background: #333333;
	border-radius: 10px;
	min-height: 20rem;
	border-top: 2rem solid #e6e6e6;
}

.dashboard__terminal__buttons {
	margin-left: 1rem;
	margin-top: -1.5rem;

	span,
	&:before,
	&:after {
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		margin-right: .5rem;
		display: block;
		float: left;
		border: 1px solid rgba($black, .07);
	}

	&:before,
	&:after {
		content: '';
	}

	span {
		background: #ffbd2e;
	}

	&:before {
		background: #ff6159;
	}

	&:after {
		background: #28ca41;	
	}
}


.dashboard__setup {
	background-image: url('../../../img/dashboard/plug.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: right center;
}
