.dashboard__process {
	background: #f9f9f9;
	overflow: hidden;
	position: relative;
	font-size: .7rem;
}

.dashboard__process__inner {
	white-space: nowrap;
	padding: 1rem;
	top: 0;
	right: 0;
	min-width: 100%;
	position: absolute;

	@include breakpoint(50em) {
		right: auto;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
}

.dashboard__height {
	visibility: hidden;
	padding: 1rem;
}

.dashboard__figure {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 0;
	margin-right: 0;

	svg {
		height: 2rem;
		width: auto;
		margin-bottom: .6rem;
	}

}

.dashboard__connector {
	margin: 0 1rem;
	flex-grow: 1;
}

.dashboard__connector__label {
	padding: 0 1rem;
	text-align: center;
}

.dashboard__connector__line {
	position: relative;
	background: $black;
	height: .2rem;
	margin-top: .5rem;
	width: 0;
}

.dashboard__connector__pulse {
	position: absolute;
	top: -100%;
	left: 0;
	opacity: 0;

	span {
		display: block;
		position: relative;

		&,
		&:before {
			border-radius: 50%;
			background: #22b573;
			width: .7rem;
			height: .7rem;
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			animation: pulse .5s infinite;
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	50% {
		transform: scale(1.5);
		opacity: .4;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.dashboard__figure,
.dashboard__connector {
	opacity: 0;
	display: inline-block;
	vertical-align: middle;

	&:first-of-type {
		position: relative;
	}
}

.dashboard__problems {
	background-color: $ov-grey;

	img {
		width: 40%;
		max-width: 30rem;
		margin: 2rem auto 0;
		display: block;
	}

}

.dashboard__groundwork {
	overflow: hidden;

	> .l-container {
		display: flex;
	}
}

.dashboard__groundwork__logo {
	svg {
		width: 50%;
		height: auto;
		margin: 2rem auto;
		display: block;

		@include breakpoint(60rem) {
			width: 80%;
			float: right;
		}

		.js & {
			path {
				opacity: 0;
				stroke: #00d8ff;
				fill: #fff;
			}

		}
	}
}

.dashboard__terminal {
	background: #333333;
	border-radius: 10px;
	min-height: 25rem;
	border-top: 2rem solid #e6e6e6;
	width: 100%;
	max-width: 40rem;
	box-shadow: 0px 10px 33px -2px rgba(0,0,0,0.20);
	position: relative;
	padding: .5rem;

	code {
		display: block;
		float: left;
		color: #fff;
		background: none;

		&:last-child {
			border-right: .5rem solid #fff;
			border-radius: 0;
		}
	}
}

.dashboard__terminal__buttons {
	position: absolute;
	top: -1.5rem;

	span,
	&:before,
	&:after {
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		margin-right: .5rem;
		display: block;
		float: left;
		border: 1px solid rgba($black, .07);
	}

	&:before,
	&:after {
		content: '';
	}

	span {
		background: #ffbd2e;
	}

	&:before {
		background: #ff6159;
	}

	&:after {
		background: #28ca41;	
	}
}


.dashboard__setup {
	position: relative;

	.chunk__primary {
		max-width: 32rem; 

		@include breakpoint(50rem) {
			width: 70%;
		}

	}
}

.dashboard__setup__bg {
	background-image: url('../../../img/dashboard/dashboard-setup.jpg');
	transition: all 1s ease-in-out;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

.dashboard__preview {
	background: $ov-grey;
	padding: 4rem 0;

	img {
		width: 100%;
		max-width: 80rem;
		margin: 0 auto;
		display: block;

		@include breakpoint(50em) {
			margin-top: -10rem;
			margin-bottom: -8rem;
		}

		@include breakpoint(80em) {
			margin-top: -12rem;
			margin-bottom: -10rem;
		}
	}
}

.dashboard__bonus {
	background: $ov-grey;
}
