.dashboard {
	color: darken($ov-teal, 30%);
}

.dashboard__setup {
}

.dashboard__setup__image {
	position: relative;
	height: 0;
	padding-bottom: 60.4%;

	svg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.dashboard__problems {
	background-color: $ov-grey;

}

.dashbaord__problems__image {
	position: relative;
	height: 0;
	padding-bottom: 71.92%;
	
	svg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.dashboard__groundwork {
	overflow: hidden;

	> .l-container {
		display: flex;
	}
}

.dashboard__groundwork__logo {
	position: relative;
	height: 0;
	padding-bottom: 89.47%;

	svg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		.js & {
			path {
				opacity: 0;
				stroke: #00d8ff;
				stroke: $ov-teal;
				fill: #fff;
				stroke-width: 5px;
			}

		}
	}
}

.dashboard__preview {
	background: $ov-grey;
	padding: 4rem 0;
}

.dashboard__preview__image {
	max-width: 50em;
	margin: 0 auto;

	> .image-wrapper {
		@include breakpoint(50em) {
			margin-top: -9rem;
			margin-bottom: -8rem;
		}

		// @include breakpoint(80em) {
		// 	margin-top: -12rem;
		// 	margin-bottom: -10rem;
		// }
	}

	img {
		width: 100%;
		display: block;
		transition: all .3s;
	}
}

.dashboard__terminal {
	code {
		display: block;
		float: left;
		color: $ov-teal;
		background: none;
		font-weight: 700;

		&:last-child {
			border-right: .5rem solid $ov-teal;
			border-radius: 0;
		}
	}
}

.dashboard__terminal__top {
	background: darken(#d9efee, 10%);
	width: 100%;
	display: block;
	clear: both;
	padding: .5rem;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border: .3rem solid $ov-teal;
}

.dashboard__terminal__main {
	background: #d9efee;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	min-height: 15rem;
	border: .3rem solid $ov-teal;
	border-top: 0;
	width: 100%;
	position: relative;
	padding: .5rem;
}

.dashboard__terminal__buttons {
	height: 1rem;

	span,
	&:before,
	&:after {
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		margin-right: .5rem;
		display: block;
		float: left;
		border: 2px solid $ov-teal;
		background: #fff;
	}

	&:before,
	&:after {
		content: '';
	}

	// span {
	// 	background: #ffbd2e;
	// }
    //
	// &:before {
	// 	background: #ff6159;
	// }
    //
	// &:after {
	// 	background: #28ca41;	
	// }
}

.dashboard__deployment {

}

.dashboard__bonus {
	// background: $ov-teal;
	// background: #D0021B;
	background: $ov-grey;

	.chunk__secondary {
		padding-bottom: 0;
		align-self: flex-end;
	}

	svg {
		display: block;
		margin: 0 auto;

		@include breakpoint(60em) {
			float: right;
			width: 12rem;
			height: auto;
		}
	}
}

.dashboard__demo {
	background: #fcfcfc;
	padding: 3rem 0;

	video {
		cursor: pointer;
	}

	.chunk__primary {
		padding-bottom: 0;
	}

	// .heading-1 {
	// 	margin-bottom: 0;
	// }
}
