.image-wrapper {
	background: $grey;
	position: relative;
	height: 0;

	img {
		position: absolute;
		top: 0;
		width: 100%;
		opacity: 0;
		transition: all 1s;
	}

	.lazyloaded {
		opacity: 1;
	}
}

.image-wrapper--about {
	padding-bottom: 138.1355932%;

	@include breakpoint(32em) {
	  padding-bottom: 66.6666667%; 
	}

	@include breakpoint(60em) {
	   padding-bottom: 138.1355932%;
	}

	@include breakpoint(75em) {
	  padding-bottom: 66.6666667%; 
	}
}

.image-wrapper--dashboard-intro {
	padding-bottom: 56.3535912%;
	background: none;
}

.image-wrapper--16-9 {
	padding-bottom: 56.25%;
}
