.image-wrapper {
	display: block;
	background: $grey;
	position: relative;
	height: 0;

	img {
		position: absolute;
		top: 0;
		width: 100%;
		transition: all 1s;
	}
}

.image-wrapper--about {
	padding-bottom: 131.5299335%;

	@include breakpoint(32em) {
	  padding-bottom: 66.6666667%; 
	}

	@include breakpoint(60em) {
		padding-bottom: 131.5299335%;
	}

	@include breakpoint(75em) {
	  padding-bottom: 66.6666667%; 
	}
}

.image-wrapper--16-9 {
	padding-bottom: 56.25%;
}

.image-wrapper--dashboard-preview {
	background: none;
	padding-bottom: 57.421875%;
}

.image-wrapper--transparent {
	background: none;
}
