.intro {
	position: relative;

	@include breakpoint(60em) {
		text-align: center;
	}
}

.intro--dashboard {
	background: #d2011a;
}

.intro__background {
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all .5s ease-in-out;
}

.intro__background--dashboard {
	background-color: #d0021b;
	background-image: url('../../../img/dashboard/dashboard-background.jpg');
}

.intro__copy {
	padding: 8rem 0 2rem;

	@include breakpoint(40rem) {
		padding: 14rem 0 12rem;
	}

	@include breakpoint(60rem) {
		padding: 22rem 0 16rem;
	}
}

.intro__title {
	margin: 1rem 0;
	font-size: 2rem;
	line-height: 1.2;

	@include breakpoint(45em) {
		font-size: 3rem;
	}

	@include breakpoint(65em) {
		font-size: 4rem;
	}
}

.intro__description {
	max-width: 32rem;

	@include breakpoint(60em) {
		margin: 0 auto;
	}
}

.intro__skillset {
	@include delist();
	padding: 1rem 0;
	font-size: .8rem;
	letter-spacing: 1px;
	text-transform: uppercase;

	> li {
		display: inline-block;

		&:not(:last-child) {
			&:after {
				content: '/';
				margin: 0 .5rem;
			}
		}
	}
}

// .intro__backdrop {
// 	position: fixed;
// 	top: 0;
// 	bottom: 0;
// 	right: 0;
// 	left: 0;
// 	background-size: cover;
// 	z-index: -1;
// }


.intro__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.intro__overlay--dashboard {
	background-color: rgba(#d0021b, .9);
}

.intro__overlay--prime-labs {
	background-color: rgba($pl-orange, .3);
}

.intro__content {
	position: relative;
}


.intro--prime-labs {
	background-color: rgba($pl-orange, .9);
	background-image: url('../../../img/primelabs/prime-labs-background.jpg');
}
