.nav-link {
	display: block;
	text-align: center;
	font-size: 1rem;
	padding: 2rem 0;

	@include breakpoint(40rem) {
		font-size: 1.5rem;
	}

}

.nav-link--previous:after {
	@include arrow();
}

.nav-link--next:before {
	@include arrow--left();
}
