.prime-labs {
	color: $pl-blue;

	a {
		color: $pl-orange;
	}
}

.prime-labs__section--intro {
	background-color: $pl-orange;
}

.prime-labs__section--brand {
	background-color: $pl-blue;
	position: relative;

	img {
		max-width: 20em;
		position: absolute;
		bottom: 0;
	}
}

.prime-labs__section--problems {
	background-color: $pl-blue;
	color: #fff;
	text-align: center;

	// @include breakpoint(60em) {
	// 	text-align: left;
	// }

	ol {
		counter-reset: problems;
		list-style: none;
		padding-left: 0;
	}

	li {
		padding-bottom: 1rem;
		margin-bottom: 1rem;

		// @include breakpoint(40em) {
		// 	font-size: 1.2rem;
		// }

		&:not(:last-child) {
			border-bottom: 1px solid rgba(white, .3);
		}

		.js & {
			visibility: hidden;
			opacity: 0;
		}

		&:before {
			content: counter(problems) ". ";
			counter-increment: problems;
			font-weight: bold;
			font-style: italic;
			display: block;
			color: $pl-orange;
			font-size: 1.5rem;

			// @include breakpoint(60em) {
			// 	display: inline-block;
			// 	margin-left: -2rem;
			// 	margin-right: 1rem;
			// }
		}
	}

	.chunk__inner {
		align-items: stretch;
	}

}

.prime-labs__what-is {
	.chunk__inner {
		align-items: stretch;
	}

	.chunk__secondary {
		background-image: url('../../../img/primelabs/network.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: left center;
	}
}

.js .prime-labs__section--problems--is-active {
	li {
		visibility: visible;
		opacity: 1;
		transition: .3s all;

		@for $i from 1 through 10 {
			&:nth-child(#{$i}) { 
				transition-delay: .3s * $i;
			}
		}
	}
}

.prime-labs__box {
	transition: all .3s;
}

.prime-labs__box--description {
	@include span(6 of 12);

	.js & {
		transform: translateX(-110%);
	}
}

.prime-labs__section--modular-boxes {
	overflow: hidden;
	background: $pl-orange;
	color: #fff;
}

.prime-labs__box--ingredients {
	@include span(6 of 12 omega);

	.js & {
		transform: translateX(110%);
	}
}

.js .prime-labs__section--modular-boxes--is-active {
	.prime-labs__box {
		transform: translateX(0);
	}
	
	.prime-labs__box--ingredients {
		transition-delay: .3s;
	}
}

#prime-labs__backstory__logo {
	opacity: 0;
	width: 100%;
	max-width: 35rem;
	float: right;

	#bubbleBottom,
	#bubbleMiddle,
	#bubbleTop {
		opacity: 0;
	}
}

.prime-labs__section--as-standard {
	background: #223b4c;
	color: #fff;
	padding-bottom: 0;

	a {
		color: #fff;
	}

	.chunk__primary {
		padding-bottom: 6rem;
	}

	.chunk__secondary {
		align-self: flex-end;
	}

	video {
		display: block;
		width: 100%;
	}
}

.prime-labs__carousel {
	overflow: hidden;
}

.prime-labs__section--day-life {
	background-color: $pl-blue;

	.chunk__inner {
		align-items: stretch;
	}

	.chunk__secondary {
		background-image: url('../../../img/primelabs/pl-pill.png');
		background-position: left center;
		// background-size: 40%;
		background-size: 100%;
		background-repeat: no-repeat;
	}
}
