.prime-labs {
	color: $pl-blue;

	a {
		color: $pl-orange;
	}
}

.prime-labs__intro {
	background-color: $pl-orange;
}

.prime-labs__brand {
	background-color: $pl-blue;
	position: relative;

	img {
		display: block;
		max-width: 15em;
		margin: 0 auto;

		@include breakpoint(60em) {
			max-width: 18em;
			position: absolute;
			right: 4rem;
			bottom: 0;
		}
	}
}

.prime-labs__problems {
	background-color: $pl-blue;
	color: #fff;
	text-align: center;

	ol {
		counter-reset: problems;
		list-style: none;
		padding-left: 0;
	}

	li {
		padding-bottom: 1rem;
		margin-bottom: 1rem;

		&:not(:last-child) {
			border-bottom: 1px solid rgba(white, .3);
		}

		.js & {
			visibility: hidden;
			opacity: 0;
		}

		&:before {
			content: counter(problems) ". ";
			counter-increment: problems;
			font-weight: bold;
			font-style: italic;
			display: block;
			color: $pl-orange;
			font-size: 1.5rem;
		}
	}
}

.prime-labs__what-is {
	.chunk__inner {
		align-items: stretch;
	}

	.chunk__secondary {
		background-image: url('../../../img/primelabs/network.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: left center;
	}
}

.js .prime-labs__problems--is-active {
	li {
		visibility: visible;
		opacity: 1;
		transition: .3s all;

		@for $i from 1 through 10 {
			&:nth-child(#{$i}) { 
				transition-delay: .3s * $i;
			}
		}
	}
}

.prime-labs__box {
	transition: all .3s;
}

.prime-labs__box--description {
	@include span(6 of 12);

	.js & {
		transform: translateX(-110%);
	}
}

.prime-labs__modular-boxes {
	overflow: hidden;
	background: $pl-orange;
	color: #fff;

	// .chunk__inner {
	// 	align-items: stretch;
	// }

	// .chunk__secondary {
	// 	background-size: cover;
	// 	background-position: left center;
	// 	background-repeat: no-repeat;
	// 	background-image: url('../../../img/primelabs/pl-modular-boxes.svg');
	// }

	img {
		width: 100%;
	}
}

.prime-labs__box--ingredients {
	@include span(6 of 12 omega);

	.js & {
		transform: translateX(110%);
	}
}

.js .prime-labs__modular-boxes--is-active {
	.prime-labs__box {
		transform: translateX(0);
	}
	
	.prime-labs__box--ingredients {
		transition-delay: .3s;
	}
}

#prime-labs__backstory__logo {
	opacity: 0;
	width: 100%;
	max-width: 35rem;
	float: right;

	#bubbleBottom,
	#bubbleMiddle,
	#bubbleTop {
		opacity: 0;
	}
}

.prime-labs__as-standard {
	background: #223b4c;
	color: #fff;
	padding-bottom: 0;

	a {
		color: #fff;
	}

	.chunk__primary {
		padding-bottom: 6rem;
	}

	.chunk__secondary {
		align-self: flex-end;
	}

	video {
		display: block;
		width: 100%;
	}
}

.prime-labs__carousel {
	overflow: hidden;
}

.prime-labs__day-life {
	background-color: $pl-blue;

	.chunk__inner {
		align-items: stretch;
	}

	.chunk__secondary {
		background-image: url('../../../img/primelabs/pl-pill.png');
		background-position: left center;
		// background-size: 40%;
		background-size: 100%;
		background-repeat: no-repeat;
	}
}
