.work-preview-container {
	height: 100vh;
	border: 1rem solid white;
	position: relative;
	overflow-y: hidden;

	@include breakpoint(40em) {
		border-width: 4rem;
	}
}

.work-preview-container__nav {
	display: none;
	position: fixed;
	right: 1rem;
	height: 100%;
	width: 2rem;
	text-align: center;

	@include breakpoint(40em) {
		display: block;
	}

	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
		height: 100%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}

}

.work-preview-container__nav__item {
	flex-grow: 1;
	flex-basis: 0;
	border-top: 1px solid $black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	letter-spacing: .3rem;

	&:first-child {
		border: 0;
	}

	a {
		display: block;
		transition: all .5s ease-in-out;
		color: $black;
		transform: rotate(90deg);
	}
}

.work-preview-container__nav__item--is-active {
	a {
		color: $red;
		transform: rotate(90deg);
	}
}

.work-preview__label {
	position: fixed;
	left: 1rem;
	text-transform: uppercase;
	display: flex;
	justify-content: space-around;
	flex-direction: column;

	> span {
		display: block;
		transform: rotate(-90deg) translate3d(0, -450%, 0);
		white-space: nowrap;
		letter-spacing: 2px;
		font-size: .8rem;
	}
}

.work-preview__label,
.work-preview-container__nav__item {
	font-family: 'Menlo', 'Courier';
}

.work-preview,
.work-preview-container__nav,
.work-preview__label {
	height: calc(100vh - 2rem);

	@include breakpoint(40em) {
		height: calc(100vh - 8rem);
	}
}

.work-preview {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	background-color: $grey;
	position: absolute;
	transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
	overflow: hidden;
	transform: translate3d(0, 100%, 0);

	a {
		color: $black;
	}

	p {
		margin: 0;
	}

	.heading-1 {
		margin-bottom: .5rem;
	}

	// & + .work-preview {
	// 	margin-top: 2rem;
	// }
}

.work-preview--whiteout {
	color: #fff;

	.work-preview__link {
		&,
		&:after {
			color: #fff;
		}
	}

	a {
		color: white;
	}
}

.work-preview--text-on-right {
	flex-direction: row-reverse;

	.work-preview__image {
		transform: translate3d(0, 100%, 0);

		@include breakpoint(30em) {
			transform: translate3d(-100%, 0, 0);
		}
	}

	.work-preview__copy {
		transform: translate3d(0, -100%, 0);

		@include breakpoint(30em) {
			transform: translate3d(100%, 0, 0);
		}
	}
}

.work-preview__link {
	margin-top: 1rem;
	display: block;
	color: $red;

	&:after {
		@include arrow();
	}
}

.work-preview__copy {
	padding: 4rem 1rem 1rem;
	opacity: 0;
	transition: all 1s ease-in-out;
	font-size: .85rem;
	transform: translate3d(0, -100%, 0);

	@include breakpoint(30em) {
		transform: translate3d(-100%, 0, 0);
		width: span(4 of 12);
		display: flex;
		align-items: center;
		padding: 2rem;
	}
}

.work-preview__image {
	width: 100%;
	background-size: cover;
	transition: all 1s ease-in-out;
	opacity: 0;
	transition: all 1s;
	transform: translate3d(0, 100%, 0);

	@include breakpoint(30em) {
		width: span(7 of 12);
		transform: translate3d(100%, 0, 0);
	}
}

.work-preview--current {
	.work-preview__image,
	.work-preview__copy {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

}

@for $i from 1 through 10 {
	.work-preview--(#{$i}) {
		z-index: (#{$i + 10});
	}
}

.work-preview--current,
.work-preview--previous {
	transform: translate3d(0, 0, 0);
}

.work-preview--1 {
	transform: translate3d(0, 0, 0);
}
