.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.whiteout {
	color: #fff;

	a {
		color: #fff;
	}
}

.is-hidden,
.is-visible {
	transition: all 1s;
}

.is-hidden {
	opacity: 0 !important;
}

.is-visible {
	opacity:1;
}
