@mixin delist() {
	list-style: none;
	padding-left: 0;
}

@mixin fill() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin breakpoint($breakpoint) {
	@media only screen and (min-width: $breakpoint) { @content;  }
}

@mixin arrow() {	
	content: '→';
	font-family: Helvetica, Arial;
	padding-left: .5rem;
	color: $red;
	transition: all .3s;
	display: inline-block;
}

@mixin arrow--left() {
	content: '←';
	font-family: Helvetica, Arial;
	padding-right: .5rem;
	color: $red;
	transition: all .3s;
	display: inline-block;
}
