@keyframes headerSlideIn {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes journalNavFadeInLeft {
	0% {
		opacity: 0;
		transform: rotate(-90deg) translateY(5%);
	}
	100% {
		opacity: 1;
		transform: rotate(-90deg) translateY(0);
	}
}

@keyframes journalNavFadeInRight {
	0% {
		opacity: 0;
		transform: rotate(90deg) translateY(5%);
	}
	100% {
		opacity: 1;
		transform: rotate(90deg) translateY(0);
	}
}
