$grey: #f2f2f2;
$black: #323232;
$red: #e9204a;

// Dashboard
$ov-red: #d0021b;
$ov-black: #4d4d4d;
$ov-grey: #f8f8f8;
$ov-teal: #3fb0ac;

// Prime Labs
// $pl-orange: #f75d37;
$pl-orange: #ff622b;
// $pl-blue: #4e4e5d;
$pl-blue: #223b4c;
